/* *{
    background-color: rgb(162, 113, 208);
    /* margin: 25px; */
*/



h1{
    display: inline;
    border-radius: 2px solid green;


}

/* span{
    display: block;
}

.clr{
    color: red;
}

#line{
    text-decoration: underline;
    color: cyan;
    background-color: bisque;
    padding: 20px;
    border: 3px solid red;
}

a{
    text-decoration: none;
    color: black;
} */